Source: deepin-menu
Priority: extra
Section: devel
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends: debhelper (>= 9),
 pkg-config,
 qt5-qmake,
 libdtkwidget-dev,
Standards-Version: 3.9.8
Homepage: https://gitcafe.com/Deepin/deepin-menu.git

Package: deepin-menu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Deepin menu service
 Deepin menu service for building beautiful menus.
